a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #e77600;
}

a:active {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}
